:root {
  --english-violet: #44355bff;
  --dark-purple: #31263eff;
  --raisin-black: #221e22ff;
  --hunyadi-yellow: #eca72cff;
  --flame: #ee5622ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--raisin-black);
  color: white;
}
