.dialog {
  background: var(--raisin-black);
  border: none;
  color: var(--primary-text-color);
  margin: 10vh auto;
  padding: 2rem 2rem 2.5rem;
  border-radius: 1rem;
  animation: scaleUpDialog 250ms forwards;
}

.dialog::backdrop {
  background-color: #393639;
  animation: fadeInBackDrop 250ms forwards;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.header h2 {
  margin: 0;
}

.closeButton {
  display: flex;
  margin-left: auto;
  background: none;
  border: none;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.closeButton:hover {
  color: var(--primary-text-color);
}

.closeButton svg {
  width: 1rem;
  height: 1rem;
}

.content {
  clear: both;
}

@keyframes fadeInBackDrop {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes scaleUpDialog {
  from {
    transform: scale(0.9);
  }

  to {
    opacity: scale(1);
  }
}
