.sleepEntryForm {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
  color: var(--secondary-text-color);
  max-width: 40rem;
}

.submitButton {
  width: 100%;
  margin-top: 1rem;
}

.info {
  width: 100%;
}

.input {
  flex: 1;
}
