.sleepEntryForm {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-areas:
    "date ."
    "sleepTime wakeupTime"
    "info info"
    "actions actions";
  gap: 2rem;
  color: var(--secondary-text-color);
  width: 30rem;
  max-width: 100%;
}

.actions {
  grid-area: actions;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.submitButton {
  order: 1;
}

.resetButton {
  text-transform: uppercase;
  background: none;
  border: 1px solid;
  color: var(--secondary-text-color);
  padding: 1rem 2.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.resetButton:hover {
  color: var(--primary-text-color);
}

.info {
  grid-area: info;
  width: 100%;
}

.dateInput {
  grid-area: date;
}

.wakeupTime {
  grid-area: wakeupTime;
}

.sleepTime {
  grid-area: sleepTime;
}

@media (max-width: 30rem) {
  .sleepEntryForm {
    grid-template-areas:
      "date date"
      "sleepTime sleepTime"
      "wakeupTime wakeupTime"
      "info info"
      "actions actions";
  }

  .submitButton {
    order: 0;
  }

  .submitButton,
  .resetButton {
    width: 100%;
  }
}
