.sleepEntryForm {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
  color: var(--secondary-text-color);
  max-width: 40rem;
}

.actions {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  gap: 0.5rem;
}

.submitButton {
  order: 1;
}

.resetButton {
  text-transform: uppercase;
  background: none;
  border: 1px solid;
  color: var(--secondary-text-color);
  padding: 1rem 2.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.resetButton:hover {
  color: var(--primary-text-color);
}

.info {
  width: 100%;
}

.input {
  flex: 1;
}
